{% extends 'base.html' %}
{% block content %}

<div class="input-group d-flex align-items-center mb-3 justify-content-center mt-20" >
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %} 
    {% comment %} {{ form.as_p }} {% endcomment %}
    <br>
    <br>
    <br>
    <br>
    <br>
     <!-- Username input -->
     <div>
        <span> Username: </span>
        <input type="text"  class="form-control" name="username" style="background-color: rgba(0, 0, 0, 0.1); text-color: #E0E0E0"/>
      </div>
      <!-- Email input -->

      <div>
        <span> Email: </span>
        <input type="email" class="form-control" name="email" style="background-color: rgba(0, 0, 0, 0.1); text-color: #E0E0E0"/>
      </div>

      <!-- Name input -->
      <div>
        <span> Name: </span>
        <input type="text"  class="form-control" name="name" style="background-color: rgba(0, 0, 0, 0.1); text-color: #E0E0E0"/>
       
      </div>

     <!-- Password input -->
     <div>
        <span> Password: </span>
        <input type="password" class="form-control" name="password1" style="background-color: rgba(0, 0, 0, 0.1); text-color: #E0E0E0"/>
      </div>

      <div>
        <span> Confirm Password: </span>
        <input type="password"  class="form-control" name="password2" style="background-color: rgba(0, 0, 0, 0.1); text-color: #E0E0E0"/>
      </div>
      <br>
      <br>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-info btn-block mb-4" style="background-color: rgb(86, 114, 127)">Sign up</button>
</form>

</div>
<br>
<br>
{% endblock %}