{% extends 'base.html' %}
{% block content %}

<div class="input-group d-flex align-items-center mb-3 justify-content-center mt-20" >
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %} 
    {% comment %} {{ form.as_p }} {% endcomment %}
    <br>
    <br>
    <br>
    <br>
    <br>
     <!-- Username input -->
     <div data-mdb-input-init class="form-outline mb-4">
        <span> Username </span>
        <input type="text"  class="form-control" name="username" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0"/>
      </div>
      <!-- Email input -->

      <div data-mdb-input-init class="form-outline mb-4">
        <span> Email </span>
        <input type="email" class="form-control" name="email" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0"/>
      </div>

      <!-- Name input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <span> Name </span>
        <input type="text"  class="form-control" name="name" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0"/>
       
      </div>

     <!-- Password input -->
     <div data-mdb-input-init class="form-outline mb-4">
        <span> Password </span>
        <input type="password" class="form-control" name="password1" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0"/>
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        <span> Confirm Password </span>
        <input type="password"  class="form-control" name="password2" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0"/>
      </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" style="max-width:500px">Sign up</button>
</form>

</div>
<br>
<br>
{% endblock %}