{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--Main layout-->

<div class="container">
    <!-- Heading -->
     <h2 class="my-5 text-center">Shipping Info</h2>

        <!--Grid row-->
        {% comment %} <div class="row"> {% endcomment %}

            <!--Grid column-->
        <div class="d-flex justify-content-center mb-4">
                <!--Card-->
                <div class="card p-4 d-flex justify-content-center">
                    <!--Grid row-->
                    <div class="row mb-2">
                        <!--Grid column-->
                        <div class="col-md-6 mb-2">
                            <!--firstName-->
                            <div>
                                <label class="form-label" for="typeText">First name</label>
                                <input type="text" id="typeText" class="form-control" />
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6 mb-2">
                            <!--lastName-->
                            <div>
                                <label class="form-label" for="typeText">Last name</label>
                                <input type="text" id="typeText" class="form-control" />
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->

                    <!--email-->
                    <p class="mb-0">
                        Email
                    </p>
                    <div class="mb-3">
                         <input type="email" class="form-control" />
                    </div>
                    <form method="POST" action="{% url 'order_confirmed' %}">
                        {% csrf_token %}
                        
                    <!--address-->
                    <p class="mb-0">
                        Address
                    </p>
                    <div class="mb-3">
                        <input type="text" id="address" name="address" class="form-control"  />
                    </div>

                    <!--address-2-->
                    <p class="mb-0">
                        Address 2 (optional)
                    </p>
                    <div class="mb-3">
                        <input type="text" id="address2" name="address2" class="form-control" />
                    </div>

                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <p class="mb-0">
                                Country
                            </p>
                            <div class="mb-3">
                            <input id="country" name="country" type="text" class="form-control" />
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <p class="mb-0">
                                State
                            </p>
                            <div class="mb-3">
                                <input id="state" name="state" type="text" class="form-control" />
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <p class="mb-0">
                                Zip
                            </p>
                            <div class="mb-3">
                                <input id="zip" name="zip" type="text" class="form-control"/>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->

                    <hr />
                    
                    <h5>Payment</h5>
                    <div class="my-3">
                        {% for value, name in form.fields.payment.choices %}
                        <div class="custom-control custom-radio">
                            <input id="{{ name }}" name="payment" value="{{ value }}" class="custom-control-input" type="radio" required />
                            <label class="custom-control-label" for="{{ name }}"> {{ name }} </label>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <hr class="mb-4" />   

                  <button class="btn btn-primary" style="background-color: rgb(86, 114, 127)" type="submit">Place Order</button>
                </div> 
            </form>
        </div>
</div>



{% endblock %}