{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ product.image.url }}" class="img-fluid"/>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <a href="">
                            <span class="badge bg-dark me-1">{{ product.category }}</span>
                        </a>
                        <a href="">
                            <span class="badge bg-info me-1" >New</span>
                        </a>
                    </div>

                    <p class="lead">
                        <span>Price: ${{ product.price }} </span>
                    </p>

                    <strong><p style="font-size: 20px;">Description</p></strong>

                    <p>{{ product.description }} 
                        <br> 
                        <br> 
                        Extra text for better visuals. Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit voluptates, quibusdam officia. </p>

                    <form class="d-flex justify-content-left">
                        
                        <!-- Default input -->
                       
                        {% comment %} <div class="form-outline me-1" style="width: 100px;">
                            <select class="form-select form-select-sm" id="product-quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                        </div>  {% endcomment %}
                        
                        <button id="{{ product.id }}" class="btn btn-info ms-1 add-to-cart-btn" style="background-color: rgb(86, 114, 127)" type="button">
                            Add to cart
                            <i class="fas fa-shopping-cart ms-1"></i>
                        </button> 
                    </form> 
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->




<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    

 
    $(document).ready(function() {
        $('.add-to-cart-btn').on('click', function(e) {
            const productId = $(this).attr('id');  // Get the id of the clicked element
            console.log(productId)
     
            const csrftoken = getCookie('csrftoken');
            let product_id = productId; 
            let url = "/cart_add/";
            let data = {"product_id": product_id};
     
            $.ajax({
                url: url,
                method: "POST",
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                data: data,
                success: function(response) {
                    //console.log(response);
                    window.location.reload()
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });

</script>

{% comment %} <script>
    $(document).on('click', '#add-cart-btn', function(e){
        e.preventDefault();

        //sending/posting data to the backend without refreshing the page
        $.ajax({
            type: 'POST',
            url: '{% url 'cart' %}',
            data: {
                product_id: $('#add-cart-btn').val(), //the value we are getting when user adds a product comes from add-cart button's value using the "val()" function
                product_quantity: $('#cart_quantity option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post',
            },

                success: function(json){
                console.log(json) 
            },

            error: function(xhr, errmsg, err){

            },
        });

    }); 
</script>  {% endcomment %}

<br>
<br>
<br>
<br>
<br>
{% endblock %}