{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    
    <div class="text-center">
    <h4>Search Results</h4>
    {% if search %}
            <div class="row">
                {% for product in search %}
            <div class="col-lg-3 col-md-6 mb-4"> 
            <div class="card h-100">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <img src="{{ product.image.url }}"
                    class="w-100" />
                <a href="{% url 'product_detail' product.id %}">
                    <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                        <h5><span class="badge bg-dark ms-2">NEW</span></h5>
                    </div>
                    </div>
                    <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                </a>
                </div>
                <div class="card-body">
                <a href="#" class="text-reset">
                    <h5 class="card-title mb-2">{{product.name}}</h5>
                </a>
                <a href="" class="text-reset ">
                    <p>{{product.description}}</p>
                </a>
                <h6 class="mb-3 price">${{product.price}}</h6>
                </div>
            </div>
            </div>
        {% endfor %}

      </div>
     
    {% elif search_performed %} 
    <br>
    <br>
    <br>
    <br>
      <h4>No Such Results</h4> 
    
    {% endif %}
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Pagination -->
<nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      <li class="page-item disabled">
        {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
      </li>
      <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>  
  <!-- Pagination -->  
{% endblock %}